html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 5%;
}

input {
  padding: 3%;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #fff;
  outline: none;
}

.init-show {
  display: block;
}
.init-hide {
  display: none;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.page {
  max-width: 300px;
  width: 80%;
  margin: 5% auto 0;
  padding: 1em;
  background-color: rgba(10, 10, 10, 0.5);
  border-radius: 5px;
  animation-name: fadeIn;
  animation-duration: 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn {
  margin: 3% 0 0;
  cursor: pointer;
}

#timer {
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}
